<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Interim"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".GererEmployeurProfil"
            android:exported="false" />
        <activity
            android:name="agence.Inscription2Agence"
            android:exported="false" />
        <activity
            android:name="agence.Inscription1Agence"
            android:exported="false" />
        <activity
            android:name="agence.Inscription0Agence"
            android:exported="false" />
        <activity
            android:name=".Inscription0Publisher"
            android:exported="false" />
        <activity
            android:name="agence.PofilAgence"
            android:exported="false" />
        <activity
            android:name=".Historiques"
            android:exported="false" />
        <activity
            android:name=".CandidatureAccepteEmpl"
            android:exported="false" />
        <activity
            android:name=".MesFavori"
            android:exported="false" />
        <activity
            android:name=".GererInterimaireProfil"
            android:exported="false" />
        <activity
            android:name=".AccueilAnonyme"
            android:exported="false" />
        <activity
            android:name=".CandidatureEnCoursEmpl"
            android:exported="false" />
        <activity
            android:name=".AnnonceEmployeur"
            android:exported="false" />
        <activity
            android:name=".Postule"
            android:exported="false" />
        <activity
            android:name=".MesNotifs"
            android:exported="false" />
        <activity
            android:name=".MesEmplois"
            android:exported="false" />
        <activity
            android:name=".MesCandidatures"
            android:exported="false" />
        <activity
            android:name=".OffreResultatRechercheInterim"
            android:exported="false" />
        <activity
            android:name=".ChoixAbonnement"
            android:exported="false" />
        <activity
            android:name=".MesOffres"
            android:exported="false" />
        <activity
            android:name=".AddOffre"
            android:exported="false" />
        <activity
            android:name=".InterimaireProfil"
            android:exported="false" />
        <activity
            android:name=".EmployeurProfil"
            android:exported="false" />
        <activity
            android:name=".Inscription2Publisher"
            android:exported="false" />
        <activity
            android:name=".Inscription1Publisher"
            android:exported="false" />
        <activity
            android:name=".Drawer_base"
            android:exported="false" />
        <activity
            android:name=".Accueil"
            android:exported="false" />
        <activity
            android:name=".Connexion"
            android:exported="false" />
        <activity
            android:name=".Role"
            android:exported="false" />
        <activity
            android:name=".Inscription2Interimaire"
            android:exported="false" />
        <activity
            android:name=".Inscription1Interimaire"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>